<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
      <h1 class="px-3 mx-auto">
        welcome to
        <svg class="svg-inline--fa fa-book" area-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg></svg>
        <strong>Bookers</strong>
          !!
      </h1>
    </div>
</div>